

@media screen and (max-width: 1200px) {

  .content .card-front-back {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    height: 500px;
  }

  .content .card-front {
    margin-left: auto;
    margin-right: auto;
  }

  .content .card-back {
    margin-left: auto;
    margin-right: auto;
  }

}
