.modal-btn {
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

header .modal-btn {
  color: #555555;
}

header .modal-btn:hover {
  color: red;
}

.sidebar .modal-btn:hover {
  color: #red;
}

.sidebar .modal-btn:hover {
  color: red
}


//
// header .modal-btn {
//   color: black;
// }
