/** Input styles **/

input, button {
  font-family: 'Raleway', sans-serif;
}

input::placeholder {
  text-align: center;
  color: #606060;
}

input[type="text"], input[type="password"] {
  // font-family: 'Raleway', sans-serif;
  font-weight: 400;
	font-size: 1em;
	color: #606060;
  padding: 8px 30px;
	border: 1px solid #606060;
  text-align: center;
  display: block;
  margin: 10px;
  margin: 10px auto;
  width: 70%;
}

input[type="submit"] {
  // font-family: 'Raleway', sans-serif;
	background-color: transparent;
  border: 0;
	font-weight: 400;
	letter-spacing: 4px;
	font-size: 1em;
	text-decoration: none;
	// box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	// color: #fff;
	// border: 1px solid #fff;
	padding: 8px 30px;
	// transition: background-color .5s;
	transition: color .5s;
	// transition: border .5s;
	text-transform: uppercase;
  text-align: center;
  width: 300px;
}

input[type="submit"]:hover {
	color: #606060;
}

// remove browser default: yellow background color
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
}

.sidebar .get-flashcard input[type="submit"] {
  // border: 2px solid pink;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.aside-content button,
.aside-content .get-flashcards input[type="submit"] {
  background-color: transparent;
  border: 0;
	font-weight: 400;
	letter-spacing: 4px;
	font-size: 1em;
	text-decoration: none;
	// box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	// color: #fff;
	// border: 1px solid #fff;
  color: #fff;
	padding: 8px 30px;
	// transition: background-color .5s;
	transition: color .5s;
	// transition: border .5s;
	text-transform: uppercase;
  text-align: center;
  width: 300px;
}

// .content .create-flashcard input[type="submit"] {
//     margin: 50px auto 20px auto;
//     display: block;
//     color: #555555;
//     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
//     border: 1px solid #555555;
//     transition: border .3s;
// }

.content .update-flashcard input[type="submit"],
.content .delete-flashcard input[type="submit"],
.content .create-flashcard input[type="submit"] {
  margin: 20px auto 20px auto;
  display: block;
  color: #555555;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #555555;
  transition: border .3s;
  // border: 2px solid green;
}

.content .update-flashcard input[type="number"] {
  margin: 0 auto 30px auto;
  display: block;
  color: #555555;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #555555;
  transition: border .3s;
  // border: 2px solid green;


	font-weight: 400;
	letter-spacing: 4px;
	font-size: 1em;
	text-decoration: none;
	// box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	// color: #fff;
	// border: 1px solid #fff;
	padding: 8px 30px;
	// transition: background-color .5s;
	// transition: color .5s;
	// transition: border .5s;
	text-transform: uppercase;
  text-align: center;
  width: 300px;
}

// .content .delete-flashcard input[type="submit"] {
//   margin: 20px auto 20px auto;
//   display: block;
//   color: #555555;
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
//   border: 1px solid #555555;
//   transition: border .3s;
//   // border: 2px solid yellow;
// }

.content input[type="submit"]:hover {
  color: red;
  border: 1px solid red;
  // border: 2px solid green;
}


//
// .content .delete-flashcard input[type="submit"]:hover {
//   color: red;
//   border: 1px solid red;
//   // border: 2px solid yellow;
// }

// input[type="submit"].update-submit {
//   border: 2px solid blue;
//
// }
//
// input[type="submit"].delete-submit {
//   border: 2px solid green;
// }

.content input[type="text"]::placeholder  {
  // font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #888888;
  letter-spacing: 2px;
  font-size: .9em;
}

.content input[type="text"]::-webkit-input-placeholder {
  // font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #888888;
  letter-spacing: 2px;
  font-size: .9em;
}

.content input[type="text"]::-moz-input-placeholder {
  // font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #888888;
  letter-spacing: 2px;
  font-size: .9em;
}

.content input[type="text"]::-ms-input-placeholder {
  // font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #888888;
  letter-spacing: 2px;
  font-size: .9em;
}

.content input[type="text"]::-moz-placeholder {
  // font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #888888;
  letter-spacing: 2px;
  font-size: .9em;
}

footer input[type="submit"] {
  letter-spacing: 1px;
  width: initial;
  padding: 10px 15px;
}


/** End Input Styles **/
