@import 'index-card';

.content {
  // border: 1px solid blue;
  padding: 150px 20px 50px 20px;
  // height: 2000px;
  width: 100%;
  // margin-left: 400px;
  // display: none;
}

.content-status-message {
  text-align: center;
  margin-bottom: 50px;
}

.content .card-front-back {
  // border: 2px solid green;
  max-width: 900px;
  margin: auto;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  box-sizing: border-box;

}

.content .card-front {
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  height: 14em; // 14em;
  width: 400px; // 400px;
  // margin: auto;
  position: relative;
  background-color: #fff;
  border: none;
}

.content .card-back {
  position: relative;
  background-image:
    linear-gradient(180deg, white 19.7%, #F0A4A4 19.7%, #F0A4A4 20.5%, transparent 1px),
    repeating-linear-gradient(0deg, #fff, #fff 9.5%, #DDD 9.5%, #DDD 10%);
  box-shadow: 1px 1px 3px rgba(0,0,0,.25);
  height: 14em;
  width: 400px;
}

.content .card-front .card-front-text, .content .card-back .card-back-text {
  position: absolute;
  top: 50%;
  width: 100%;
  background-color: rgba(0,0,0,0);
  transform: translate(0%, -50%);
  font-size: 30px;
  border: none;
}
