.flashcard-view {
  position: relative;
}

.flashcard-container-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: none;
  height: 7%;
  background-color: rgba(25,50,50,1);
}

.flashcard-container {
  position: relative;
  display: none;
  width: 100%;
}

.flashcard-container-header > h2 {
  position: relative;
  margin: 0;
  padding: 0px 40px 0px 40px;
  color: #fff;
  letter-spacing: 5px;
  font-weight: 500;
  top: 50%;
  transform: translateY(-50%);
}
