footer {
  // border: 2px solid green;
  padding: 0 20px;
  height: 70px;
  background-color: #D64947;
  position: relative;
  display: none;
}

footer .footer-modals {
  font-size: .9em;
  color: #fff;
  // border: 2px solid blue;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
}

footer .footer-message {
  // border: 2px solid yellow;
  // display: block;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}
