.auth-modals {
  // border: 2px solid green;
  text-align: right;
}

header {
  // border: 1px solid green;
  background: #fff url(../images/study.jpg) no-repeat center bottom;
  text-align: center;
  padding: 20px 20px 0 20px;
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  height: 700px;
  background-color: #efefef;

}

.hero {
  position: relative;
  top: 13%;
  // transform: translateY(-50%);
}
