.modal-title {
  text-align: center;
}

.modal-btn {
  padding: 10px 15px;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
}

.modal-signup-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-signin-button {
  position: absolute;
  top: 20px;
  right: 150px;
}

.modal-signin input[type="submit"],
.modal-signup input[type="submit"],
.modal-changepw input[type="submit"],
.modal-update input[type="submit"] {
  margin-top: 15px;
  background-color: #D64947;
  border: 0;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  padding: 8px 30px;
  transition: color .5s;
  text-transform: uppercase;
  text-align: center;
  width: 70%;
  display: block;
  margin: auto;
}

.signin-status-message, .signup-status-message {
  text-align: center;
}

header .modal-btn {
  color: #555555;
}

header .modal-btn:hover {
  color: #D64947;
}

footer .modal-btn {
  letter-spacing: 1px;
  color: #fff;
  transition: color .5s;
}

footer .modal-btn:hover {
  letter-spacing: 1px;
  color: #606060;
}
