
.modal-btn {
  padding: 10px 15px;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  color: #555555;
}

.modal-signup {
  // border: 2px solid green;
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-signin {
  // border: 2px solid green;
  position: absolute;
  top: 20px;
  right: 150px;
}

header .modal-btn {
  color: #555555;
}

header .modal-btn:hover {
  color: red;
}

footer .modal-btn {
  letter-spacing: 1px;
}


//
// header .modal-btn {
//   color: black;
// }
