
.modal-btn {
  padding: 10px 15px;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
}

header .modal-btn {
  color: #555555;
}

header .modal-btn:hover {
  color: red;
}

.sidebar .modal-btn {
  color: #fff;
}

.sidebar .modal-btn:hover {
  color: red
}


//
// header .modal-btn {
//   color: black;
// }
