.sidebar {
  position: absolute;
  right: 0; /* to make it go from right to left instead of default left to right */
  // top: 45px;
  // height: 2000px;
  // border: 2px solid blue;
  overflow: hidden;
  margin-top: 0px;
  list-style-type: none;
  z-index: 1;
  text-align: center;
  height: 100%;
  width: 300px;
  background-color: rgba(25,25,25,.8);
  top: 0;
}

.sidebar-status-message {
  // border: 2px solid blue;
  padding: 30px 0 30px 0;
  margin: 30px 0 30px 0;
}

.aside-content {
  vertical-align: top;
  margin: 50px 0;
  height: 400px;
  // border: 3px solid yellow;
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

.aside-content input[type="text"] {
  margin-bottom: 15px;
}
